<template>
  <nb-container :style="{ backgroundColor: '#fff' }">
    <nb-header>
      <nb-left>
        <nb-button transparent :onPress="() => this.props.navigation.openDrawer()">
          <nb-icon name="menu" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title>Header</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <view class="container">
      <apollo-provider :client="client">
        <query :query="cquery">
          <view render-prop-fn="children">
            <text v-if="args.loading">Loading...</text>
            <text v-else-if="args.error">An error occured</text>
            <view v-if="args.data && args.data.lookup">
              <text v-for="album in args.data.lookup.artist.releaseGroups.edges" :key="album.mbid">
                {{ album.node.title }}
              </text>
            </view>
          </view>
        </query>
      </apollo-provider>
    </view>
  </nb-container>
</template>

<script>
import { ApolloProvider, Query } from 'react-apollo';

import { GET_NAMES } from '../queries';
export default {
  components: { ApolloProvider, Query },
  data() {
    return {
      client: this.$client,
      cquery: GET_NAMES
    }
  }
};
</script>