<template>
  <root>
    <app-navigation></app-navigation>
  </root>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
  createDrawerNavigator
} from 'vue-native-router';
import { Root } from 'native-base';
import HomeScreen from './screens/home';
import SideBarScreen from './screens/sidebar';

import GraphQLTestScreen from './screens/graphQLTest';

const Drawer = createDrawerNavigator(
  {
    Home: { screen: HomeScreen },
    GraphQLTest: { screen: GraphQLTestScreen },
  },
  {
    initialRouteName: 'Home',
    contentOptions: {
      activeTintColor: '#e91e63'
    },
    contentComponent: SideBarScreen
  }
);
const AppNavigation = createAppContainer(
  createStackNavigator(
    {
      Drawer: { screen: Drawer },
    },
    {
      initialRouteName: 'Drawer',
      headerMode: 'none'
    }
  )
);
export default {
  components: { Root, AppNavigation }
};
</script>